<%- include ("../partials/header.ejs") %>
<%- include ("../partials/homenavbar.ejs") %>

<body>
    <div class="container">
        <h2 class="mt-5">Listagem dos planos</h2>
        <table class="table mt-4 table-bordered">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Preço</th>
                    <th class="text-center">Desativado?</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% plans.forEach( plan => { %>
                <tr>
                    <td class="text-center"><%= plan.id %></td>
                    <td class="text-center"><%= plan.title %></td>
                    <td class="text-center"><%= plan.value %> €</td>
                    <td class="text-center"><%= plan.deactivated %></td>
                    <td class="text-center"><a href="/plans/deactivate/<%= plan.id %>">Desativar</a> || <a
                            href="/plans/activate/<%= plan.id %>">Ativar</a></td>
                </tr>
                <% } ) %>
            </tbody>
        </table>
    </div>
</body>

<%- include ("../partials/footer.ejs") %>